/*Global Styles*/
* {
    box-sizing: border-box;
}

html {
    width: auto;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

header, nav ul {
    /* width: 90%; */
    margin-left: 45px;
    margin-right: 45px;
}

main {
    margin-left: 45px;
    margin-right: 45px;
}

footer {
    margin-top: 90px;
    color: #004D00;
    text-align: center;
}

footer h5 {
    display: block;
    text-align: center;
    text-decoration: solid;
    margin-left: 45px;
    margin-right: 45px;
    color: #004D00;
}

a {
    text-decoration: none;
    color: #004D00;
}

a:hover {
    color: #9ae39a;
}

/*Logo*/
img.logo {
    position: absolute;
    top: 0px;
    left: 0px;
}

header {
    position: relative;
}

header h1 {
    padding-top: 30px;
    padding-left: 100px;
    color: #004D00;
    margin-top: 15px;
    margin-bottom: 15px;
}

nav ul {
    padding-left: 50px;
}

/*Navbar*/
nav {
    background-color: #004D00;
}

nav li {
    display: inline-block;
}

li a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

li a:hover {
    background-color: #3dd83d;
    color: white;
}

/*Home Page*/
.overviewHeading h1 {
    color: #004D00;
}

div.srcContainer {
    width: 97%; /*Adjust for horizontal content centering*/
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* grid-template-columns: auto auto;
    gap: auto auto; */
}

div.srcDescr {
    width: 750px;
    height: 275px;
}

div.srcDescr p {
    display: inline-block;
    width: 40%;
    height: 200px;
}

div.srcDescr img.thumb {
    float: left;
    border-radius: 10px;
    margin-right: 15px;
}

.home {
    margin-left: auto;
    margin-right: auto;
}

#image {
    width: 325px;
}

#blurb {
    width: 450px;
}

/*Energy Sources*/
main.source section {
    display: block;
}

td {
    display: flex;
}

/*Energy Sources - Diagram*/
.srcDiagram {
    display: block;
    float: left;
    margin: auto;
    padding-right: 10px;
}

.srcDiagram img {
    display: block;
}

/*Energy Sources - Basics*/
.basics {
    display: block;
}

.basics h2 {
    color: #004D00;
}

/*Nuclear - RTG Subsection*/
#rtg h2 {
    color: #004D00;
}

#rtg {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#descr {
    display: inline;
}

/*Geothermal - Heating Subsection*/
#geoHeat h2 {
    color: #004D00;
}

#geoHeat {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Wind - Windmill Subection*/
#windmill h2 {
    color: #004D00;
}

#windmill {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Energy Sources - Safety*/
.safety h2 {
    color: #004D00;
}

.safety {
    display: block;
}

/*Energy Sources - Environmental Impacts*/
.impacts h2 {
    color: #004D00;
}

/*Representatives Page - Form*/
form label {
    display: block;
    width: 45%;
}
