/*Global Styles*/
* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    line-height: 1.5;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin: none;
}

header, nav ul {
    /* width: 90%; */
    margin-left: 45px;
    margin-right: 45px;
}

main {
    margin-left: 45px;
    margin-right: 45px;
}

footer {
    margin-top: 90px;
}

footer h5 {
    display: block;
    text-align: center;
    text-decoration: solid;
    margin-left: 45px;
    margin-right: 45px;
    color: #009000;
}

a {
    text-decoration: none;
    color: #009000;
}

a:hover {
    color: #9ae39a;
}

/*Logo*/
img.logo {
    position: absolute;
    top: 0px;
    left: 0px;
}

header {
    position: relative;
}

header h1 {
    padding-top: 15px;
    padding-left: 100px;
    color: #009000;
}

nav ul {
    padding-left: 50px;
}

/*Navbar*/
nav {
    background-color: #009000;
}

nav li {
    display: inline-block;
}

li a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: white;
    text-emphasis: bold;
}

li a:hover {
    background-color: black;
    color: #9ae39a;
}

/*Home Page*/
.overviewHeading h2 {
    color: #009000;
}

div.imgBase {
    float: left;
}

.home {
    margin-left: auto;
    margin-right: auto;
}

#image {
    width: 325px;
}

#blurb {
    width: 450px;
}

/*Energy Sources*/
/*Energy Sources - Diagram*/
.srcDiagram {
    display: block;
    float: left;
    margin: auto;
    padding-right: 10px;
}

.srcDiagram img {
    display: block;
}

/*Energy Sources - Basics*/
.basics {
    display: block;
}

.basics p {

}

.basics h3 {
    color: #009000;
}

/*Nuclear - RTG Subsection*/
.rtg {
    border: #009000;
    border-width: 5px;
    margin-left: 45px;
    margin-right: 45px;
}

.rtg #rtg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.rtg #descr {
    display: inline-block;
}

/*Energy Sources - Safety*/
.safety h3 {
    color: #009000;
}

.safety {
    display: block;
    margin: auto;
}